<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .userList{
            font-size: 35px;
        }
    </style>
</head>
<body>
    <div>
        <span class = "userList">유저 리스트</span>
    </div>
    <div>
        <ul>
            <li th:each = "dto: ${usersMainDTOList}">
                <span th:text = "${dto.usersIdx}"></span>
                <span th:text = "${dto.usersId}"></span>
            </li>
        </ul>
    </div>
    
</body>
</html>