<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <div><span>아이디</span><input id="id" type="text" /></div>
    <div><span>비밀번호</span><input id="password" type="text" /></div>
    <div>
      <button onclick="requestJoin()">회원가입</button>
    </div>
    <script>
      const requestJoin = () => {
        const idInputTag = document.getElementById("id");
        const passwordInputTag = document.getElementById("password");

        if (idInputTag.value == "") {
          alert("아이디를 입력해주세요.");
          return;
        }

        const dto = {
          user: {
            id: idInputTag.value,
            password: passwordInputTag.value,
          },
        };

        // request fetch의 리턴값은 promise 따라서 response에는 .then을 사용해줘야 한다.
        fetch("/api/v1/auth/join", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(dto),
        })
          // response
          .then((response) => response.text())
          .then((result) => {
            alert(result);
          });
      };
    </script>
  </body>
</html>
