body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
header img{
    cursor: pointer;
}

header h1 {
    margin: 0;
}

main h2 {
    text-align: center;
}
.board{
    background-color: #333;
    color: #fff;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

main {
    padding: 20px;
}

.post {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.login-signup {
    position: absolute;
    top: 10px;
    right: 20px;
    margin-top: 70px;
}
.login-signup a, .board a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-signup a + a {
    margin-left: 10px;
}
.search-form{
    text-align: center;
}

.search-form form input[type="text"] {
    width: 300px; /* 원하는 크기로 조절 */
}